// Navigator
.row.navigator
  margin-bottom: 0
.navigator
  .tel
    color: #666666
  .navigator-top
    padding-top: 0.5rem !important
    padding-bottom: 0.5rem !important
    padding-left: 3rem !important
    padding-right: 3rem !important
    border-bottom: 1px solid #e2e2e2
  .signin-signup
    display: flex
    justify-content: flex-end
    a
      margin-right: 0.5rem
    span
      margin-right: 0.5rem
  .navigator-bottom
    padding-top: 0.5rem !important
    padding-bottom: 0.5rem !important
    padding-left: 3rem !important
    padding-right: 3rem !important
    img
      width: 6rem
    .navigator-menu
      display: flex
      justify-content: flex-end
      .navigator-list-menu
        display: flex
        flex-flow: row
      li
        display: block
        padding: 1rem
      li:hover
        background: #79c5d9
      a
        color: #323232


// Main
.row.main
  .col
    padding: 0
.main
  .slider
    height: 34rem !important
    .indicators
      bottom: 1rem
  .slides
    height: 30rem !important
    img
      background-size: 1310px 450px !important
  .plan
    padding: 2rem !important
    .col.l3
      width: 23.7%
    h4
      padding-bottom: 1rem
    .plan-item
      border-radius: 0.2rem
      margin: 0.5rem
    .head-plan
      text-align: center
      color: #fff
      border-bottom: 3px solid #C7540B
      padding-bottom: 1rem
    .detail-plan
      text-align: center
      color: #fff
      a
        margin: 1.5rem
        opacity: 0.8
